{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "camelcase": [0],
    "no-ternary": [2],
    "valid-jsdoc": [2],
    "curly": [2, "multi-line"]
  }
}
